@import "variable";
/*navigation*/
nav{
	list-style-type: none;
  	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 15px;
	font-weight: $bold;
	background: $white;
	border-bottom: 1px solid $white;
	zoom: 1;
	margin: 10px 10px 100px 10px;
	li{
		display: block;
		float: left;
		margin: 0 1em;
		a{
			display: block;
			float: left;
			color: $orange;
			text-decoration: none;
			font-weight: $bold;
			border-bottom: 3px solid transparent;
			&:hover{
					color: $orange;
					border-bottom: 2px solid $orange;
			}
		}
	}
}

.reseaux{
	margin-right: 1em;
	margin-top: 5px;
	img{
		width: 40px;
		height: 40px;
		transition:transform 0.5s;
		&:hover{
				transform-origin: 50% 50%;
				transform:rotateZ(360deg);
		}
	}
}
/*body*/
.par {
	@extend %general;
	h2{
		line-height: $espace;
	}
	h3{
		line-height: $espace;
	}
}
.accueil {
	@extend %general;
}
h1 {
	text-align: center;
	color: $white;
}
.right{
	font-size: 10px;
	float: left;
	color: $white;
	margin: 50px 0px 0px 5px;
}

